services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: taxidermy-website-frontend-prod
#    volumes:
#      - /etc/ssl:/etc/ssl
#      - ./nginx.conf:/etc/nginx/nginx.conf
#      - ./build:/usr/share/nginx/html
    ports:
      - "3003:80"
    restart: on-failure
#    depends_on:
#      - backend
