services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: taxidermy-website-frontend-prod
    volumes:
      - ./logs/nginx:/var/log/nginx
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./logs/goaccess:/usr/share/nginx/html/goaccess:ro
    ports:
      - "3003:80"
    restart: on-failure

  goaccess:
    image: allinurl/goaccess:latest
    container_name: taxidermy-goaccess
    depends_on:
      - frontend
    volumes:
      - ./logs/nginx:/var/log/nginx:ro
      - ./logs/goaccess:/usr/share/goaccess
      - ./goaccess.conf:/etc/goaccess/goaccess.conf:ro
    ports:
      - "7890:7890"
    command:
      - --no-global-config
      - -p
      - /etc/goaccess/goaccess.conf
      - -f
      - /var/log/nginx/access.log
      - --real-time-html
      - --addr=0.0.0.0
      - --port=7890
      - --ws-url=ws://192.168.100.100:7890/goaccess
      - --origin=^https?://(localhost|127\.0\.0\.1|192\.168\.100\.100)(:\\d+)?$
      - -o
      - /usr/share/goaccess/report.html
